*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
    border-radius: 3px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    background: #EDE4E0;
    color: #333;
}

h1{
    text-align: center;
    padding-top: 1rem;
}

section{
    padding: 2rem;
}

div{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

input[type="text"]{
    border: none;
    padding: 0 3rem 0 0.2rem;
    text-align: start;
}


input[type="button"]{
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    margin: 0.2rem;
    background-color: #665A48;
    color: #C8DBBE;
}

input[type="button"]:hover{
    color: #665A48;
    background-color: #C8DBBE;
}

